extends ../layouts/application.pug

block header
  = t('views.statuses.edit.title')

block content
  form(action=route('patchStatus', { id: status.id }) method='post')
    +input(status, 'name', errors, t('views.statuses.edit.name'))(type="text")
    +patch(status)(value=t('views.statuses.edit.submit'))
    