extends ../layouts/application.pug

block header
  = 'edit task'

block content
  form(action=route('patchTask', { id: task.id }) method='post')
    +input(task, 'name', errors)(type="text")
    input(name="_method" type="hidden" value="patch")
    .form-group
      input(class='btn btn-primary' type='submit' value='submit')