extends ../layouts/application.pug

block header
  = t('views.tasks.edit.title')

block content
  form(action=route('patchTask', { id: task.id }) method='post')

    +input(task, 'name', errors, t('views.tasks.edit.name'))(type="text")

    .form-group
        label(for="data_description")= t('views.tasks.edit.description')
        textarea(id="data_description" name="data[description]" class='form-control' rows="3")= task.description || ''

    +select(task, statuses, 'statusId', errors, t('views.tasks.edit.status'))
    +select(task, executors, 'executorId', errors, t('views.tasks.edit.executor'))
    +select(task, labels, 'labels', errors, t('views.tasks.edit.labels'))(multiple="multiple")

    +patch(status)(value=t('views.tasks.edit.submit'))
