extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks') method='post')

    +input(task, 'name', errors, t('views.tasks.new.name'))(type="text")

    .form-group
        label(for="data_description")= t('views.tasks.new.description')
        textarea(id="data_description" name="data[description]" class='form-control' rows="3")= task.description || ''

    +select(task, statuses, 'statusId', errors, t('views.tasks.new.status'))
    +select(task, executors, 'executorId', errors, t('views.tasks.new.executor'))
    +select(task, labels, 'labels', errors, t('views.tasks.new.labels'))(multiple="multiple")

    +submit(task)(value=t('views.tasks.new.submit'))
